<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">

    <div class="container">

        <footer class="footer">
            <!-- this is footer -->
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-3 col-md">
                        <img class="mb-2" rel="image_src" th:src="@{public/img/joxebus-icon.png}" src="" alt="This site has been created by Omar Bautista @Joxebus" width="50" height="50">
                        <small class="d-block mb-3 text-muted">© <script>document.write(new Date().getFullYear())</script></small>
                    </div>
                    <div class="col-3 col-md">
                        <h5>Shortcuts</h5>
                        <ul class="list-unstyled text-small">
                            <li><span class="badge bg-primary">(ctrl + R)</span> Execute</li>
                            <li><span class="badge bg-info text-white">(ctrl + W)</span> Clear output</li>
                            <li><span class="badge bg-secondary">(ctrl + K)</span> Clear all</li>
                            <li><span class="badge bg-success">(ctrl + S)</span> Download</li>
                        </ul>
                    </div>
                    <div class="col-3 col-md">
                        <h5>Resources</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="link-secondary" href="https://github.com/Joxebus/MicronautGroovyWebConsole" target="_blank">Github Repository</a></li>
                            <li><a class="link-secondary" href="https://www.youtube.com/c/Joxebus" target="_blank">YouTube Channel</a></li>
                            <li><a class="link-secondary" href="https://joxebus.github.io/">Profile Page</a></li>
                        </ul>
                    </div>
                    <div class="col-3 col-md">
                        <h5>About</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="link-secondary" href="https://github.com/Joxebus/MicronautGroovyWebConsole/blob/main/LICENSE" target="_blank">LICENSE</a></li>
                            <li><a class="link-secondary" href="https://gist.github.com/Joxebus" target="_blank">Groovy Code Samples</a></li>
                        </ul>
                    </div>

                </div>
            </footer>
        </footer>
    </div>

</div>
</body>
</html>
