<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="fragments/header :: header">
    <title>Hello Micronaut!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

<div class="container">

    <!--div th:replace="fragments/header :: header-nav">&nbsp;</div-->

    <section id="code-section">
        <h1>Online Groovy Console</h1>
        <p>This console supports Groovy 3.0.6</p>
        <form>
            <div class="btn-group" role="group" aria-label="Actions">
                <button type="button" value="Execute" class="btn btn-primary" id="execute">Execute</button>
                <button type="button" value="Clear" class="btn btn-secondary" id="clear">Clear</button>
            </div>

            <textarea id="code" name="code" th:text="${groovyScript}"></textarea>
        </form>
    </section>

    <section id="output-section">
        <h4>Output</h4>
        <h5 id="executionTime"></h5>
        <div class="card bg-info text-white" id="output-card">
            <div class="card-body">
                <pre><code id="output"></code></pre>
            </div>
        </div>
        <div class="card bg-danger text-white" id="error-card" hidden="hidden">
            <div class="card-body">
                <pre><code id="error"></code></pre>
            </div>
        </div>
    </section>

    <script th:src="@{public/js/home.js}"></script>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
</body>
</html>
